<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= title %>
    </title>
    <% include partials/head %>
</head>

<body>
    <% include partials/navbar %>
        <div class="container">
            <span id="download-quote">
                We are downloading the url you have given.<br/>
                <%= url %>

                <%= percent %>
            </span>
        </div>


</body>
<% include partials/script %>

</html>