<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/navbar %>
    

    <% include partials/main-content %>

  </body>
  <% include partials/script %>
</html>
